@{
    Layout = "~/Views/Portal/_PortalLayout.cshtml";
    ViewBag.Title = "About Page";
}
<h1>My About page is using the Grid!</h1>
<div class="container">
    <div class="row">
        <div class="col-md-4">
            Column A
        </div>
        <div class="col-md-4">
            Column B
        </div>
        <div class="col-md-4">
            Column C
        </div>
    </div>
</div>


