<!DOCTYPE html>

<html>
<head>
    <!-- Custom styles for this template -->
    @*<link href="~/Content/DarklyTheme/bootstrap.css" rel="stylesheet" />
    <link href="~/Content/DarklyTheme/variables.less" rel="stylesheet" />*@
    @*<link href="~/Content/DarklyTheme/bootstrap.min.css" rel="stylesheet" />*@
    <link href="~/Content/bootstrap.css" rel="stylesheet" />
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Content/Site.css" rel="stylesheet" />
    <link href="~/Content/navleft.css" rel="stylesheet" />    
    <meta name="viewport" content="width=device-width" />    
    <title>@ViewBag.Title</title>
</head>
<body>
  <div class="navbar navbar-inverse navbar-fixed-left">     
      <a class="navbar-brand" href="/Portal/Home">Resident Portal</a>           
      <ul class="nav navbar-nav">
          <li class="dropdown"><a href="#" class="dropdown-toggle" data-toggle="dropdown">Maintenance<span class="caret"></span></a>
              <ul class="dropdown-menu" role="menu">
                  <li><a href="#">Submit a Work Order</a></li>
                  <li><a href="#">Manage Work Orders</a></li>
                  <li class="divider"></li>
                  <li><a href="#">Submit Feedback</a></li>
              </ul>
          </li>
          <li><a href="/Portal/Home">Home</a></li>
          <li><a href="/Portal/About">About</a></li>
          <li><a href="/Portal/Contact">Contact</a></li>
      </ul>             
    </div>    
    <div class="container">
        <div class="row">
            @RenderBody()           
            <footer>
                <p>&copy; 2016 - Resident Portal</p>
            </footer>    
        </div>
    </div>

</body>
</html>
