@{
    Layout = "~/Views/Portal/_PortalLayout.cshtml";
    ViewBag.Title = "Contact Us";
}
<div class="container">
    <div class="jumbotron">
        <h1>Say Hello to my Jumbotron</h1>
    </div>
</div>


