@model ResidentPortal.Models.UserModel
@{        
    ViewBag.Title = "Home Page";
}
<!DOCTYPE html>
<html>
<head><title>@ViewBag.Title</title></head>
<body>
    @Html.Action("NavBarLayout", "Portal")
    <div class="container">
        <div class="col-lg-3 col-md-4">
            <div class="jumbotron">Payment Balance: <br /> $0 </div>
        </div>
        <div class="col-lg-9 col-md-8">
            <h1>Say Hello to my Home Page!</h1>
        </div>
        @if (Model != null)
        {
            <div class="container">
                <h1>@Model.FirstName @Model.LastName is logged in!</h1>
            </div>
        }
    </div>
</body>
</html>

