
<form name="LoginForm" method="post" action="/portal/login">
    <fieldset class="form-group">
        <label for="username">Username</label>
        <textarea class="form-control" id="username" name="username" rows="1"></textarea>
    </fieldset>
    <fieldset class="form-group">
        <label for="password">Password</label>        
    </fieldset>
</form>