@using (Html.BeginForm("Login","Portal"))
{
    @Html.AntiForgeryToken()    
    <fieldset class="form-group">
        <div class="col-md-2">
            <label for="username">Username</label>
        </div>
        <div class="col-md-10">
            <textarea class="form-control" id="username" name="username" rows="1"></textarea>
        </div>
    </fieldset>
    <fieldset class="form-group">
        <div class="col-md-2">
            <label for="password">Password</label>
        </div>
        <div class="col-md-10">
            <input type="password" name="pwd" />
        </div>
    </fieldset>
    <fieldset class="form-group">
        <!-- Submit button -->
        <div class="col-md-5 col-md-offset-2">
            <button class="btn btn-primary" name="submit" type="submit">Login</button>
        </div>
    </fieldset>            
}
