@using (Html.BeginForm("Login","Portal"))
{
    @Html.AntiForgeryToken()    
    <fieldset class="form-group">
        <label for="username">Username</label>
        <textarea class="form-control" id="username" name="username" rows="1"></textarea>
    </fieldset>
    <fieldset class="form-group">
        <label for="password">Password</label>
        <input type="password" name="pwd" />
    </fieldset>
    <fieldset class="form-group">
        <!-- Submit button -->
        <button class="btn btn-primary" name="submit" type="submit">Login</button>
    </fieldset>        

    @Html.ActionLink("Create New Account", "CreateUser", "Portal", null, new { @class = "btn btn-default" })
}
