@{
    ViewBag.Title = "Message Sent!";    
}
<!DOCTYPE html>
<html>
<head><title>@ViewBag.Title</title></head>
<body>
    @Html.Action("NavBarLayout")
    <div class="container">
        <div class="jumbotron" style="text-align: center">Thank you for reaching out.</div>
        <h4 style="text-align:center">We will be sure to contact you shortly.</h4>
    </div>    
</body>
</html>

