@{
    ViewBag.Title = "Message Sent!";
    Layout = "~/Views/Portal/_PortalLayout.cshtml";
}
<div class="container">
    <div class="jumbotron" style="text-align: center">Thank you for reaching out.</div>
    <h4 style="text-align:center">We will be sure to contact you shortly.</h4>
</div>    
