
@{
    ViewBag.Title = "View";
    Layout = "~/Views/Portal/_PortalLayout.cshtml";

    var MessageSubject = Request["subject"];
    var MessageBody = Request["msgbody"];
    WebMail.SmtpServer = smtp.google.com;
    WebMail.SmtpPort = 587;
    WebMail.UserName = "cmmonroe2010";
    WebMail.Password = "msuspartans";
    WebMail.From = "Admin@Webmail.com";
    WebMail.Send(to: "colin.monroe@gentex.com", subject: "Help Request- " + MessageSubject, body: MessageBody);                
}
<div class="container">
    <div class="jumbotron" style="text-align: center">Thank you for reaching out.</div>
    <h4 style="text-align:center">We will be sure to contact you shortly.</h4>
</div>    