@model ResidentPortal.Models.UserModel
<a href="#" class="dropdown-toggle" data-toggle="dropdown"><span class="glyphicon glyphicon-user"></span> @Model.FirstName @Model.LastName <span class="caret"></span></a>
<ul class="dropdown-menu" role="menu">
    <li><a href="/Portal/ViewAccount">View Account</a></li>
    <li><a href="/Portal/Logout">Logout</a></li>
</ul>
